<h1>Greeter#remember</h1>
<p>Find me in app/views/greeter/remember.html.erb</p>
<% random_names = ["vanessa", "iván", "eduardo"] %>
<h1>Hello, <%= random_names.sample %>, of course we remember you!</h1>
